* {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
    box-sizing: border-box;
}
.container {
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    width: 100%;
    min-height: 100vh;
}
.todo-app {
    background-color: white;
    width: 100%;
    max-width: 540px;
    padding: 40px 30px 70px;
    margin: 6.25rem auto 1.5rem;
    border-radius: 0.625rem;
}
.todo-app h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.todo-app h2 img {
    margin-left: 0.625rem;
    width: 1.8rem;
}
.row {
    background: #edeef0;
    justify-content: space-between;
    border-radius: 2.325rem;
    padding-left: 1.325rem;
    padding-bottom: .245rem;
    display: flex;
    align-items: center;
}
input {
    background: transparent;
    flex: 1;
    padding: 0.625rem;
    font-weight: 0.925rem;
    border: none;
    outline: none;
    
}
.btn {
    background-color: #ff5945;
    color: white;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 1rem 2.625rem;
    border-radius: 6.4rem;
    cursor: pointer;
}